
<!DOCTYPE html>

<% site_bar = render('/refinery/site_bar', :head => true) -%>
<!-- paulirish.com/2008/conditional-stylesheets-vs-css-hacks-answer-neither/ -->
<!--[if lt IE 7 ]> <html class="ie6" lang="en"> <![endif]-->
<!--[if IE 7 ]>    <html class="ie7" lang="en"> <![endif]-->
<!--[if IE 8 ]>    <html class="ie8" lang="en"> <![endif]-->
<!--[if IE 9 ]>    <html class="ie9" lang="en"> <![endif]-->
<!--[if (gt IE 9)|!(IE)]><!--> <html lang="en"> <!--<![endif]-->
  <head>
    <%= render "/refinery/head" %>
    <%= csrf_meta_tag %>
    <% fb_properties = "<meta property=\"og:title\" content=\"#{content_for?(:title) ? yield(:title) : "German Masterclasses"}\"/>" + "\n<meta property=\"og:type\" content=\"website\"/>" + "\n<meta property=\"og:url\" content=\"#{request.protocol + request.host_with_port + request.fullpath}\"/>" + "\n<meta property=\"og:image\" content=\"#{asset_url('...')}\"/>" + "\n<meta property=\"og:site_name\" content=\"German Masterclasses\"/>" + "\n<meta property=\"fb:admins\" content=\"100004335090083\"/>" + "\n<meta property=\"og:description\" content=\"...\"/>" %>
    <% provide(:fb_properties, raw(fb_properties)) %>
    <%= yield(:fb_properties) %>
    <title><%= content_for?(:title) ? yield(:title) : "German Masterclasses" %></title>
    <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => false %>
<!-- =========================
 FAV AND TOUCH ICONS  
============================== -->
<!-- <link rel="shortcut icon" href="/assets/zerif/icons/favicon.ico">
<link rel="apple-touch-icon" href="/assets/zerif/icons/apple-touch-icon.png">
<link rel="apple-touch-icon" sizes="72x72" href="/assets/zerif/icons/apple-touch-icon-72x72.png">
<link rel="apple-touch-icon" sizes="114x114" href="/assets/zerif/icons/apple-touch-icon-114x114.png"> -->

<!-- =========================
     STYLESHEETS      
============================== -->
<link rel="stylesheet" href="/assets/zerif/bootstrap.min.css">
<link rel="stylesheet" href="/assets/zerif/owl.theme.css">
<link rel="stylesheet" href="/assets/zerif/owl.carousel.css">
<link rel="stylesheet" href="/assets/zerif/jquery.vegas.min.css">
<link rel="stylesheet" href="/assets/zerif/animate.min.css">

<link rel="stylesheet" href="/assets/zerif/icon-fonts/styles.css"> 
<link rel="stylesheet" href="/assets/zerif/pixeden-icons.css"> 

<!-- CUSTOM STYLES -->
<link rel="stylesheet" href="/assets/zerif/styles.css">
<link rel="stylesheet" href="/assets/zerif/responsive.css">

<link rel="stylesheet" href="/assets/custom.css">

<!-- WEBFONT -->
<link href='https://fonts.googleapis.com/css?family=Lato:300,400,700,400italic|Montserrat:700,400|Homemade+Apple' rel='stylesheet' type='text/css'>

<!--[if lt IE 9]>
      <script src="js/html5shiv.js"></script>
      <script src="js/respond.min.js"></script>
    <![endif]-->

<!-- JQUERY -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
</head>


<body>
<!-- =========================
   PRE LOADER       
============================== -->
<div class="preloader">
  <div class="status">&nbsp;</div>
</div>

<%= site_bar -%>  
  
<!-- =========================
   HOME SECTION       
============================== -->
<header id="home" class="header">
  
  <%= render 'shared/navbar' %>
  
  <% flash.each do |key, value| %>
    <% case key %>
      <% when :notice %>
        <div class="alert alert-success"><strong><%= value %></strong></div>
      <% else %>
        <div class="alert alert-danger"><strong><%= value %></strong></div>
    <% end %>
  <% end %>

  <%= yield %>

  <!-- BIG HEADING WITH CALL TO ACTION BUTTONS AND SHORT MESSAGES -->
  <div class="container">
    
    <!-- HEADING -->
    <h1 class="intro">German Language Tuition In London</h1>
    
    <!-- CALL TO ACTION BUTTONS -->
    <div class="buttons inpage-scroll">
      <a href="#works" class="btn btn-primary custom-button red-btn">Our Works</a>
      <a href="#pricingtable" class="btn btn-primary custom-button green-btn">Our Packages</a>
    </div>
    
  </div> <!-- / END BIG HEADING WITH CALL TO ACTION BUTTONS AND SHORT MESSAGES  -->
  
</header> <!-- / END HOME SECTION  -->

<!-- =========================
   FOCUS SECTION      
============================== -->

<section class="focus" id="business">
<div class="container">
  
  <!-- SECTION HEADER -->
  <div class="section-header">
    
    <!-- SECTION TITLE -->
    <h2 class="dark-text">Business German</h2>
    
    <!-- SHORT DESCRIPTION ABOUT THE SECTION -->
    <h6>
      Let’s Talk Business (in German).
    </h6>
  </div>
  <!-- / END SECTION HEADER -->
  
  <!-- 4 FOCUS BOXES -->
  <div class="row">
    
    <!-- FIRST FOCUS BOXES -->
    <div class="col-lg-4 col-sm-4 focus-box red wow fadeInLeft animated" data-wow-offset="30" data-wow-duration="1.5s" data-wow-delay="0.15s">
      <div class="service-icon">
        <i class="pixeden pd-icon-user"></i> <!-- FOCUS ICON-->
      </div>
      <h5 class="red-border-bottom">Beginner Class </h5> <!-- FOCUS HEADING -->
      <p> <!-- FOCUS DESCRIPTION -->
        Build the foundation and learn what you need.
      </p>
    </div>
    <!-- / END FIRST FOCUS BOX. Other boxes has same format -->
    
    <div class="col-lg-4 col-sm-4 focus-box green wow fadeInLeft animated" data-wow-offset="30" data-wow-duration="1.5s" data-wow-delay="0.15s">
      <div class="service-icon">
        <span class="pixeden pd-icon-portfolio"></span>
      </div>
      <h5 class="green-border-bottom">Intermediate Class</h5>
      <p>
         Boost your confidence, impress your clients.
      </p>
    </div>
    
    <div class="col-lg-4 col-sm-4 focus-box blue wow fadeInRight animated" data-wow-offset="30" data-wow-duration="1.5s" data-wow-delay="0.15s">
      <div class="service-icon">
        <i class="pixeden pd-icon-worldmap"></i>
      </div>
      <h5 class="blue-border-bottom">Advanced Master Class</h5>
      <p>
          Master your German. Gelassenheit. Effizienz. Resultate. (serenity, efficiency, results)     
      </p>
    </div>
    
  </div>
  <!-- / END 4 FOCUS BOXES -->
  <p>Business Masterclasses available.</p>
  <p>Half / Full day</p></br>

  <div class="wow fadeInRight animated" data-wow-offset="30" data-wow-duration="1.5s" data-wow-delay="0.15s">
    <a href="#aboutus" class="btn btn-primary custom-button green-btn">Get in touch for further information</a>
  </div>
</div> <!-- / END CONTAINER -->
</section>  <!-- / END FOCUS SECTION -->

<%= render 'shared/separator' %>

<!-- =========================
   FOCUS SECTION      
============================== -->

<section class="focus" id="lifestyle">
<div class="container">
  
  <!-- SECTION HEADER -->
  <div class="section-header">
    
    <!-- SECTION TITLE -->
    <h2 class="dark-text">Lifestyle German</h2>
    
    <!-- SHORT DESCRIPTION ABOUT THE SECTION -->
    <h6>
      Improve and expand your lifestyle, Learn and Master Germany.
    </h6>
  </div>
  <!-- / END SECTION HEADER -->
  
  <!-- 4 FOCUS BOXES -->
  <div class="row">
    
    <!-- FIRST FOCUS BOXES -->
    <div class="col-lg-4 col-sm-4 focus-box red wow fadeInLeft animated" data-wow-offset="30" data-wow-duration="1.5s" data-wow-delay="0.15s">
      <div class="service-icon">
        <i class="pixeden pd-icon-monitor"></i> <!-- FOCUS ICON-->
      </div>
      <h5 class="red-border-bottom">Beginner Class </h5> <!-- FOCUS HEADING -->
      <p> <!-- FOCUS DESCRIPTION -->
        Let’s have a piece of (simple) conversation.
      </p>
    </div>
    <!-- / END FIRST FOCUS BOX. Other boxes has same format -->
    
    <div class="col-lg-4 col-sm-4 focus-box green wow fadeInLeft animated" data-wow-offset="30" data-wow-duration="1.5s" data-wow-delay="0.15s">
      <div class="service-icon">
        <span class="pixeden pd-icon-camera"></span>
      </div>
      <h5 class="green-border-bottom">Intermediate Class</h5>
      <p>
          German class at its best - essential, relevant and highly enjoyable.
      </p>
    </div>
    
    <div class="col-lg-4 col-sm-4 focus-box blue wow fadeInRight animated" data-wow-offset="30" data-wow-duration="1.5s" data-wow-delay="0.15s">
      <div class="service-icon">
        <i class="pixeden pd-icon-email-marketing"></i>
      </div>
      <h5 class="blue-border-bottom">Advanced Master Class</h5>
      <p>
          Get ready to discover the heart and soul of German Language, Präzision, Schönheit, Geist. (perfection, beauty, spirit)     
      </p>
    </div>
    
  </div>
  <!-- / END 4 FOCUS BOXES -->
  <p>Lifestyle and General German Masterclasses available.</p>
  <p>Half / Full day</p></br>

  <div class="wow fadeInRight animated" data-wow-offset="30" data-wow-duration="1.5s" data-wow-delay="0.15s">
    <a href="#aboutus" class="btn btn-primary custom-button green-btn">Get in touch for further information</a>
  </div>
</div> <!-- / END CONTAINER -->
</section>  <!-- / END FOCUS SECTION -->

<%= render 'shared/separator' %>

<!-- =========================
   FOCUS SECTION      
============================== -->

<section class="focus" id="academic">
<div class="container">
  
  <!-- SECTION HEADER -->
  <div class="section-header">
    
    <!-- SECTION TITLE -->
    <h2 class="dark-text">Academic German</h2>
    
    <!-- SHORT DESCRIPTION ABOUT THE SECTION -->
    <h6>
      Learn German the classic way.
    </h6>
  </div>
  <!-- / END SECTION HEADER -->
  
  <!-- 4 FOCUS BOXES -->
  <div class="row">
    
    <!-- FIRST FOCUS BOXES -->
    <div class="col-lg-4 col-sm-4 focus-box red wow fadeInLeft animated" data-wow-offset="30" data-wow-duration="1.5s" data-wow-delay="0.15s">
      <div class="service-icon">
        <i class="pixeden pd-icon-monitor"></i> <!-- FOCUS ICON-->
      </div>
      <h5 class="red-border-bottom">Beginner class</h5> <!-- FOCUS HEADING -->
      <p> <!-- FOCUS DESCRIPTION -->
         (includes GCSE Exam preparation) build a solid foundation. Set the goal: to master German.
      </p>
    </div>
    <!-- / END FIRST FOCUS BOX. Other boxes has same format -->
    
    <div class="col-lg-4 col-sm-4 focus-box green wow fadeInLeft animated" data-wow-offset="30" data-wow-duration="1.5s" data-wow-delay="0.15s">
      <div class="service-icon">
        <span class="pixeden pd-icon-camera"></span>
      </div>
      <h5 class="green-border-bottom">Intermediate class</h5>
      <p>
        (Includes AS and A2 Level Exam preparation) Boost your confidence, prepare for a life with German as a major asset in your CV.
      </p>
    </div>
    
    <div class="col-lg-4 col-sm-4 focus-box blue wow fadeInRight animated" data-wow-offset="30" data-wow-duration="1.5s" data-wow-delay="0.15s">
      <div class="service-icon">
        <i class="pixeden pd-icon-email-marketing"></i>
      </div>
      <h5 class="blue-border-bottom">Advanced Master class</h5>
      <p>
       (includes German at University and Exam preparation) Dive into the heart German culture, its art, music, literature and philosophy. Make friends with 'Schadenfreude, Biergarten, Zeitgeist, Wanderlust, Wunderkind' and many more.
      </p>
    </div>
    
  </div>
  <!-- / END 4 FOCUS BOXES -->
  <p>Academic German Classes available.</p>
  <p>2 hours, 3 hours, half and full day tailored to your needs</p></br>
  <div class="wow fadeInRight animated" data-wow-offset="30" data-wow-duration="1.5s" data-wow-delay="0.15s">
    <a href="#aboutus" class="btn btn-primary custom-button green-btn">Get in touch for further information</a>
  </div>
</div> <!-- / END CONTAINER -->
</section>  <!-- / END FOCUS SECTION -->

<!-- =========================
   TESTIMONIAL        
============================== -->

<section class="testimonial" id="quotes">
<div class="container">
    
    <!-- SECTION HEADER -->
        <div class="section-header">
    
    <!-- SECTION TITLE -->
    <h2 class="white-text">German Quotes</h2>
    
    <!-- SHORT DESCRIPTION ABOUT THE SECTION -->
    <h6 class="white-text">
      We have worked with hundreds of clients. Check what our awesome happy clients saying about us. 
    </h6>
  </div>
  <!-- / END SECTION HEADER -->
  
  <!-- CLIENT FEEDBACKS -->
  <div class="row wow fadeInRight animated" data-wow-offset="30" data-wow-duration="1.5s" data-wow-delay="0.15s">
    <div class="col-md-12">
      <div id="client-feedbacks" class="owl-carousel owl-theme">
        
        <!-- SINGLE FEEDBACK BOX-->
        <div class="feedback-box">
          
          <!-- MESSAGE OF THE CLIENT -->
          <div class="message">
             "Der Deutsche soll alle Sprachen lernen, damit ihm zu Hause kein Fremder unbequem, er aber in der Fremde überall zu Hause ist."</br><i>
              A German should learn all the languages, so he is not lost for words to a stranger, while  he is home wherever he is.</i>
          </div>
          
          <!-- CLIENT INFORMATION -->
          <div class="client">
            
            <div class="client-info">
              <a class="client-name" href="">Johann Wolfgang von Goethe</a> 
              <div class="client-company">
                  (1749 - 1832), deutscher Dichter der Klassik, Naturwissenschaftler und Staatsmann
              </div>
            </div>
            <div class="client-image hidden-xs">
              <img src="http://3.bp.blogspot.com/-j6riDdHt_r0/VlNjZXNa3XI/AAAAAAAAC7Y/6JOJqKYNhwI/s320/Johann-Wolfgang-von-Goethe-pic-by-www.greatthoughtstreasury.com_.jpg" alt="">
            </div>
          </div> <!-- / END CLIENT INFORMATION-->
        </div> <!-- / END SINGLE FEEDBACK BOX-->
        
        <div class="feedback-box">
          <div class="message">
             "Der Mensch ist nur Mensch durch Sprache."</br>
             <i>Mankind is only human through the language.</i>
          </div>
          <div class="client">
            <div class="quote green-text">
              <i class="icon-fontawesome-webfont-294"></i>
            </div>
            <div class="client-info">
              <a class="client-name" href="">Friedrich Wilhelm Christian Karl Ferdinand Freiherr von Humboldt</a>
              <div class="client-company">
                  (1767 - 1835)
              </div>
            </div>
            <div class="client-image hidden-xs">
              <img src="/assets/zerif/clients-pic/2.jpg" alt="">
            </div>
          </div>
        </div>
        
        <div class="feedback-box">
          <div class="message">
             "Die Sprache ist eine Waffe, haltet sie scharf!"</br>
             <i>Language is a weapon. Keep it sharp.</i>
          </div>
          <div class="client">
            <div class="quote blue-text">
              <i class="icon-fontawesome-webfont-294"></i>
            </div>
            <div class="client-info">
              <a class="client-name" href="">Kurt Tucholsky</a>
              <div class="client-company">
                 (1890 - 1935)
              </div>
            </div>
            <div class="client-image hidden-xs">
              <img src="/assets/zerif/clients-pic/3.jpg" alt="">
            </div>
          </div>
        </div>
        
        <div class="feedback-box">
          <div class="message">
             "Man muß mit der Sprache spielen, sie ist noch ein Kind."</br>
             <i>You have to play with the language as it is still a child.</i>
          </div>
          <div class="client">
            <div class="quote red-text">
              <i class="icon-fontawesome-webfont-294"></i>
            </div>
            <div class="client-info">
              <a class="client-name" href="">Dr. phil. Michael Richter</a> 
              <div class="client-company">
                  (*1952), deutscher Zeithistoriker
              </div>
            </div>
            <div class="client-image hidden-xs">
              <img src="/assets/zerif/clients-pic/2.jpg" alt="">
            </div>
          </div>
        </div>
        
        <div class="feedback-box">
          <div class="message">
             "Die deutsche Sprache ist die Orgel unter den Sprachen."</br>
             <i>The German language is the Organ among the languages.</i>
          </div>
          <div class="client">
            <div class="quote green-text">
              <i class="icon-fontawesome-webfont-294"></i>
              sdfsdf
            </div>
            <div class="client-info">
              <a class="client-name" href="">Jean Paul</a>
              <div class="client-company">
                 (1763 - 1825), deutscher Dichter, Publizist und Pädagoge
              </div>
            </div>
            <div class="client-image hidden-xs">
              <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/f/f7/RichterJP.jpg/250px-RichterJP.jpg" alt="">
            </div>
          </div>
        </div>
        
        <div class="feedback-box">
          <div class="message">
             "Die Sprache ist die Kleidung der Gedanken."</br>
             <i>Language is the clothes of our thoughts.</i>
          </div>
          <div class="client">
            <div class="quote blue-text">
              <i class="icon-fontawesome-webfont-294"></i>
            </div>
            <div class="client-info">
              <a class="client-name" href="">Samuel Johnson</a>
              <div class="client-company">
                 (1709 - 1784), englischer Sprachforscher, Lehrer, Journalist und Herausgeber moralischer Wochenschriften, Literaturkritiker
              </div>
            </div>
            <div class="client-image hidden-xs">
              <img src="/assets/zerif/clients-pic/1.jpg" alt="">
            </div>
          </div>
        </div>
        
      </div> <!-- / END FEEDBACKS-->
    </div> <!-- / END COLUMN -->
  </div> <!-- / END ROW -->
  
</div> <!-- / END CONTAINER -->
</section> <!-- / END TESTIMONIAL SECTION -->

<!-- =========================
   ABOUT US SECTION   
============================== -->

<section class="about-us" id="about">
<div class="container">
  
  <!-- SECTION HEADER -->
  <div class="section-header">
    
    <!-- SECTION TITLE -->
    <h2 class="white-text">About</h2>
    
    <!-- SHORT DESCRIPTION ABOUT THE SECTION -->
    <h6 class="white-text">
        We design &amp; develop qaulity products to help small &amp; medium level business.
    </h6>
  </div>
  <!-- / END SECTION HEADER -->
  
  <!-- 3 COLUMNS OF ABOUT US-->
  <div class="row">
    
    <!-- COLUMN 1 - BIG MESSAGE ABOUT THE COMPANY-->
    <div class="col-lg-3 col-md-3 column">
      <div class="big-intro wow fadeInLeft animated" data-wow-offset="30" data-wow-duration="1.5s" data-wow-delay="0.15s">
         Teaching German with Passion since 2002.
      </div>
    </div>
    
    <!-- COLUMN 2 - BRIEF ABOUT THE COMPANY-->
    <div class="col-lg-6 col-md-6 column">
      <p class="wow fadeInUp animated" data-wow-offset="30" data-wow-duration="1.5s" data-wow-delay="0.15s">
         <p>I am Johannes, a native German from a village close to Heidelberg. Since I left my country in 1985 modern languages have been my inspiration and passion. I first conquered English (in the UK and USA), then I learned Italian (in Italy). But what was a real game changer was my stay in South America, in particular Chile. When I became fluent in Spanish, suddenly a whole continent (South America) could talk to me and I could understand a whole continent. For me learning a language is not just useful, it is exploring your limits, pushing your boundaries and finally finding the world at your feet.</p>
<br />
<p>What can German Master Classes offer you?</p>
<br />
<p>My own personal development as a teacher, tutor and learner has led me to offer German Master Classes.</p>
<br />
<p>Drawing on learning experiences and strategies that have worked for me and many others (of all backgrounds and nationalities) I have developed my own style of classes in which authentic experience of learning takes place through a combination of a simple learning strategy, the right environment and pure motivation. This is how real learning takes place. Efficient and communicative teaching of meaningful language, essential grammar, and relevant context will lead to progress and competent use of German.</p>
<br />
<p>P.S. I have lived and worked in Germany, USA, India, Italy, Chile, Spain and now in the UK as a Modern Language Teacher and Tutor. I have studied Pedagogy at Paedagogische Hochschule Esslingen, Germany and specialized more than 15 years ago in teaching Modern languages. Extensive experience in teaching German and English EFL (Cambridge CELTA certificate), at language schools, in private tuition (families and one to one) and for International Companies in Chile, Spain and now the UK.</p>
      </p>
    </div>
    
    <!-- COLUMN 1 - SKILSS-->
    <div class="col-lg-3 col-md-3 column">
      <ul class="skills wow fadeInRight animated" data-wow-offset="30" data-wow-duration="1.5s" data-wow-delay="0.15s">
        
        <!-- SKILL ONE -->
        <li class="skill">
          <div class="skill-count">
            <input type="text" value="86" data-thickness=".2" class="skill1">
          </div>
          <h6>Web Design</h6>
          <p>
            We are expert on HTML development. Clean, semantic and valid HTML codes.
          </p>
        </li>
        
        <!-- SKILL TWO -->
        <li class="skill">
          <div class="skill-count">
            <input type="text" value="80" data-thickness=".2" class="skill2">
          </div>
          <h6>development</h6>
          <p>
            We are expert on HTML development. Clean, semantic and valid HTML codes.
          </p>
        </li>
        
        <!-- SKILL THREE -->
        <li class="skill">
          <div class="skill-count">
            <input type="text" value="89" data-thickness=".2" class="skill3">
          </div>
          <h6>photography</h6>
          <p>
            We are expert on HTML development. Clean, semantic and valid HTML codes.
          </p>
        </li>
        
        <!-- SKILL FOUR -->
        <li class="skill">
          <div class="skill-count">
            <input type="text" value="95" data-thickness=".2" class="skill4">
          </div>
          <h6>SEO</h6>
          <p>
            We are expert on HTML development. Clean, semantic and valid HTML codes.
          </p>
        </li>
        
      </ul> 
    </div> <!-- / END SKILLS COLUMN-->
  </div> <!-- / END 3 COLUMNS OF ABOUT US-->

</div> <!-- / END CONTAINER -->

</section> <!-- END ABOUT US SECTION -->

<!-- =========================
   CONTACT US         
============================== -->

<section class="contact-us" id="contact">
<div class="container">
  
  <!-- SECTION HEADER -->
        <div class="section-header">
    
    <!-- SECTION TITLE -->
    <h2 class="white-text">Get in touch</h2>
    
    <!-- SHORT DESCRIPTION ABOUT THE SECTION -->
    <h6 class="white-text">
      Have any question? Drop us a message. We will get back to you in 24 hours.
    </h6>
  </div>
  <!-- / END SECTION HEADER -->
  
  <!-- CONTACT FORM-->
  <div class="row">
    <form role="form" class="contact-form" id="contact-form">
      <div class="wow fadeInLeft animated" data-wow-offset="30" data-wow-duration="1.5s" data-wow-delay="0.15s">
      <div class="col-lg-4 col-sm-4">
        <input type="text" name="name" placeholder="Your Name" class="form-control input-box" id="name">
      </div>
      <div class="col-lg-4 col-sm-4">
        <input type="email" name="email" placeholder="Your Email" class="form-control input-box" id="email">
      </div>
      <div class="col-lg-4 col-sm-4">
        <input type="text" name="Phone Number" placeholder="Phone Number" class="form-control input-box" id="phone">
      </div>
      </div>
      
      <div class="clearfix">
      <div class="col-md-12 wow fadeInRight animated" data-wow-offset="30" data-wow-duration="1.5s" data-wow-delay="0.15s">
        <textarea name="message" class="form-control textarea-box" placeholder="Your Message" id="message"></textarea>
      </div>
      </div>
      <!-- IF MAIL SENT SUCCESSFULLY -->
          <h4 class="success pull-left white-text">
            Your message has been sent successfully.
          </h4>
          
          <!-- IF MAIL SENDING UNSUCCESSFULL -->
          <h4 class="error pull-left white-text">
            E-mail must be valid and message must be longer than 1 character.
          </h4>
      <button class="btn btn-primary custom-button red-btn wow fadeInLeft animated" id="submit" data-wow-offset="30" data-wow-duration="1.5s" data-wow-delay="0.15s" type="submit">Send Message</button>
    </form>
  </div>
  <!-- / END CONTACT FORM-->
</div> <!-- / END CONTAINER -->
</section> <!-- / END CONTACT US SECTION-->

<!-- =========================
   FOOTER             
============================== -->



<!-- =========================
   FOOTER             
============================== -->

<footer>

   <div class="container">
        <div class="row">
           
          <div class="col-md-4">
            
                 
          </div>
           <div class="col-md-4">         
           
         <!--    <%= link_to 'Newsletter', '#' %> </br> 
            <%= link_to 'Terms', '#' %></br>
            <%= link_to 'Privacy', '#' %> -->
          </div>
          <div class="col-md-4">
  <!--         </br> -->
            <p>&copy;<%= Time.now.year %> German Masterclasses</p>
          </div>
        </div>
      </div>
  <!-- SOCIAL ICON AND COPYRIGHT -->
  
</footer> <!-- / END FOOOTER  -->


<%= javascript_include_tag "application", 'data-turbolinks-track' => true %>
<script type="text/javascript">
    $(window).load(function() {
      $.vegas('slideshow', {
        delay:7000,
        backgrounds:[
          <% main_slideshow = Refinery::ImageSlideshows::ImageSlideshow.last %>
          <% main_slideshow.image_slides.each do |image_slide| %>
           { src:'<%= image_slide.image.url %>', fade:1500 },             
          <% end %>
        ]
      })('overlay', {
        src:'/assets/zerif/overlays/06.png'
      });
    });
  </script>  
</body>
</html>